<table class="table table-hover">
  <tr>
    <th>Equipe Id</th>
    <th>Nom</th>
    <th>Ville</th>
    <th>Sportss</th>
  </tr>
    <tr *ngFor="let equipe of service.list">
      <td (click)="populateForm(equipe)">{{equipe.EquipeId}}</td>
      <td (click)="populateForm(equipe)">{{equipe.Nom}}</td>
      <td (click)="populateForm(equipe)">{{equipe.Ville}}</td>
      <td (click)="populateForm(equipe)">{{equipe.Sport}}</td>
      <td><button (click)="onDelete(equipe.EquipeId)" class="btn btn-sm btn-outline-danger">X</button></td>
    </tr>
  </table>